<template>
  <div id="app">
     <ParentCom />
  </div>
</template>

<script>
  import ParentCom from './ParentCom.vue'

  export default {
    name: 'app',
    components: {
      ParentCom,
    },
  }
</script>