<template>
    <div class="m-3">
        <div >
            <div>
                <h5 v-text="comtitle"></h5>
                <div v-if="parentmessage" class="" v-html="parentmessage"></div>
            </div>
        </div>
		<div>
		<div style="">
			<button v-if="parentmessage" @click="yes"><span>Send Message To Parent:</span>Yes</button>
		</div>
		</div>
    </div>
</template>
 
<script>
    export default {
        props: ['parentmessage','yes'],
        data() {
            return {
                comtitle: 'Child Component!'
            }
        }
    }
</script>
 
<style>
.m-3 {
	width: 25rem;
	border:1px solid;
	margin:10px;
	padding:10px;
}
span{
	font-weight: bold;
  }
</style>