<template>
  <div id="ParentCom">
        <div class="m-2">
            <div>
                <h5 class="comtitle" v-text="comtitle"></h5>
                <button @click="sendMessage">Send Message To Child Component</button>
				<child-com :parentmessage="parentmessage" :yes="yes" @finished="finished"></child-com>
            </div>
        </div>
    </div>
</template>
 
<script>
    import ChildCom from './ChildCom.vue';
 
    export default {
        components: {ChildCom},
 
        data() {
            return {
                comtitle: 'Parent Component!',
                parentmessage: ''
            }
        },
 
        methods: {
            sendMessage() {
                this.parentmessage = '<span>Message From Parent:</span> Did you finish your lunch ?'
            },
			finished() {
                this.parentmessage = ''
            },
 
            yes() {
                this.finished()
            }
        }
    }
</script>
 
<style>
  button {
    border: 1px solid #009435;
	 cursor: pointer;
  }
  .m-2 {
	width: 40rem;
	border:2px solid;
	margin:10px;
	padding:10px;
  }
  span{
	font-weight: bold;
  }
</style>